{
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": [
    // eslint-config-airbnb-base: https://github.com/airbnb/javascript
    "airbnb-base",
    // eslint-plugin-prettier + eslint-config-prettier
    "plugin:prettier/recommended"
  ],
  "rules": {
    "consistent-return": ["error", { "treatUndefinedAsUnspecified": true }],
    "func-names": "off",
    "no-console": "off",
    "no-param-reassign": ["error", { "props": false }],
    "no-unused-expressions": [
      "error",
      { "allowShortCircuit": true, "allowTernary": true }
    ],
    "import/prefer-default-export": "off"
  }
}
