{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "endOfLine": "auto",
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": ["docs/**/*.js", "test/**/*.js"],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
