$color-light-background: #fff !default;
$color-light-accent: #2b8ff5 !default;
$color-light-text: #333 !default;
$color-light-fade: #f6f6f8 !default;

$color-dark-background: #1a1b1c !default;
$color-dark-accent: #2b8ff5 !default;
$color-dark-text: #fff !default;
$color-dark-fade: #2d2e2f !default;

$tab-padding: 1em 1.25em !default;
$panel-padding: 15px 25px !default;
$border-spacing: 3px !default;
$outline-width: 2px !default;
