/*! Skeletabs: Default theme (optional if you want a personalized theme)
 ----------------------------------------------------------------------*/

$tab-color: #f48434;
$tab-color-inactive: lighten(desaturate($tab-color, 95), 30);
$tab-color-dark: darken($tab-color, 15);
$tab-color-light: lighten($tab-color, 15);
$tab-spacing: 3px;
$tab-padding: 1em 1.2em;

// container
.skltbs {
    margin-top: 1.5em;
    margin-bottom: 1.5em;

    // tab group: <ul/>
    &-tab-group {
    }

    // tab item: <li/>
    &-tab-item {
        margin: 0 $tab-spacing $tab-spacing 0;
    }

    // clickable tab: <a/>
    &-tab {
        background: $tab-color-inactive;
        color: darken($tab-color-inactive, 70);
        padding: $tab-padding;

        .is-active > & {
            background: $tab-color;
            color: white;
            text-shadow: 0 0 1px $tab-color-dark;
        }

        .is-disabled > & {
            background: lighten($tab-color-inactive, 7);
            color: darken($tab-color-inactive, 10);
        }

        &:focus {
            outline: 0;
            box-shadow: inset 0 0 0 2px $tab-color-dark;
        }
    }

    // contents group
    &-panel-group {
        background: white;
    }

    // contents to toggle
    &-panel {
        background: white;
        padding: $tab-padding;
        box-sizing: border-box;

        &:focus {
            outline: 0;
            box-shadow: inset 0 0 0 2px $tab-color-light;
        }
    }
}